$myC: #a689cd;
$bgC: #f8f9fa;

* {
	margin: 0;
	padding: 0;
	font-family: 微軟正黑體;
	box-sizing: border-box;
}

#banner {
	height: 100vh;
	background-image: url(./img/banner.jpeg);
	// 圖片滿板
	background-size: cover;
	margin-top: -100px;
	display: grid;
	// 垂直對齊
	align-items: center;

	div {
		text-align: center;
		width: 500px;
		margin: 0 auto;
	}

	h2 {
		color: #fff;
		font-size: 18px;
	}

	h1 {
		color: #fff;
		font-size: 40px;
	}
}

// 導覽列
nav {
	height: 100px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	text-align: center;
	position: sticky;
	top: 0;
	align-items: center;
	// 最大寬度
	max-width: 1200px;
	margin: 0 auto;
	// background-color: rgba(255, 255, 255, 0.5);

	ul {
		list-style: none;
		li {
			display: inline-block;
			a {
				color: #FEBC60;
				text-decoration: none;
				padding: 15px;
			}
		}
	}

	img {
		width: 100px;
		transition: 1s;
		&:hover {
			transform: scale(1.1);
		}
	}
}

.content {
	max-width: 1000px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 50px auto;
	align-items: center;
	color: $myC;
	.pic {
		// background: gold;
		grid-area: pic;
		img {
			width: 300px;
		}
	}

	.tex {
		// background: gray;
        grid-area: tex;
        margin: 10px 0 20px;
        h1 {
            font-size: 48px;
        }

        p{
            margin: 0 0 50px;
        }

        a {
            border: 1px solid $myC;
            padding: 13px 25px;
            text-decoration: none;
            color: $myC;
            border-radius: 30px;
            transition: 0.8s;
            &:hover {
                background-color: $myC;
                color: #fff;
                // border: 0;
            }
        }
	}
}
#content1,
#content3 {
	grid-template-areas: "pic tex";
}

#content2 {
	grid-template-areas: "tex pic";
}

#icon {
	max-width: 1000px;
	background-color: $bgC;
    margin: 0 auto;
    padding: 20px 0;
	div {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		background-color: $bgC;
		div {
            display: block;
            margin: 0 auto;
			img {
				display: block;
				width: 80px;
				// background:purple;
				padding-top: 20px;
				&:hover {
					filter: invert(68%) sepia(12%) saturate(1413%) hue-rotate(221deg)
						brightness(86%) contrast(84%);
				}
			}
			span {
                display: block;
                text-align: center;
				&:hover {
					color: $myC;
				}
			}
		}
	}
}

footer {
	background-color: $myC;
	height: 150px;
	color: #fff;
	text-align: center;
	img {
		width: 100px;
	}
}

#menu {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	padding: 20px;
	z-index: 1;
	cursor: pointer;

	// 點到選單後
	&:active #menu-box {
		right: 0;
	}
	&:hover #menu-box {
		right: 0;
	}

	#menu-box {
		width: 400px;
		height: 100vh;
		position: absolute;
		right: -500px;
		top: 0;
		background-color: #fff;
		box-shadow: -5px 0 5px rgba(0, 0, 0, 0.3);
		transition: 1s;
		* {
			color: #000;
			font-size: 36px;
			padding: 25px 10px;
		}
		ul {
			list-style: none;
			li {
				a {
					text-decoration: none;
					font-size: 26px;
				}
			}
		}
	}
	img {
		width: 40px;
	}
}

// RWD
// 手機
@media screen and (max-width: 768px) {
    nav {
		grid-template-columns: auto;
		ul {
			display: none;
		}
	}


	#banner{
		div{
			width: 300px;
		}
	}

	#menu {
		display: block;
		#menu-box{
			width: 200px;
		}
	}

	.content {
		grid-template-columns: auto;
		.pic {
			grid-area: pic;
			text-align: center;
			width: 70%;
			margin: 0 auto;
			padding: 50px 0;
		}
		.tex {
			grid-area: tex;
			padding: 10px 20px;
			p {
				padding: 10px 10px;
			}
		}
	}

	#content1,
	#content2,
	#content3 {
		// "" 一列
		// "" ""兩列
		grid-template-areas: "tex" "pic";
		grid-template-columns: 1fr;
		text-align: center;
	}

	#icon {
		div {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
// 平板
@media screen and (min-width: 769px) {
	nav {
		grid-template-columns: auto;
		ul {
			display: none;
		}
	}


	#menu {
		display: block;
		#menu-box{
			width: 400px;
		}
	}

	.content {
		grid-template-columns: auto;
		.pic {
			grid-area: pic;
			text-align: center;
			width: 800px;
			margin: 0 auto;
			padding: 50px 0;
		}
		.tex {
			grid-area: tex;
			padding: 0 200px;
			p {
				padding: 20px 70px 10px;
			}
		}
	}

	#content1,
	#content2,
	#content3 {
		// "" 一列
		// "" ""兩列
		grid-template-areas: "tex" "pic";
		grid-template-columns: 1fr;
		text-align: center;
	}

	#icon {
		div {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
// 電腦
@media screen and (min-width: 1025px) {
	nav {
		grid-template-columns: repeat(3, auto);
		ul {
			display: block;
		}
	}
	#menu {
		display: none;
	}

	.content {
        grid-template-columns: 1fr 1fr;
		.pic {
			grid-area: pic;
            text-align: left;
            width: 300px;
            padding: 0;
		}
		.tex {
            grid-area: tex;
            padding: 0 ;
            p{
                padding:0;
            }
		}
	}

	#content1,
	#content3 {
        grid-template-areas: "pic tex";
        grid-template-columns: 1fr 1fr;
        text-align: left;
	}

	#content2 {
        grid-template-areas: "tex pic";
        grid-template-columns: 1fr 1fr;
        text-align: left;
	}

	#icon {
		div {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}

